//- index.jade
//-
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    
    // CSS
    link(rel="stylesheet", href="css/fonts.css")
    link(rel="stylesheet", href="css/index.css")
    link(rel="stylesheet", href="css/playbill.css")
    link(rel="stylesheet", href="css/stage.css")
    
    // JS
    script(src="js/index.js", defer)
    
    // Page
    link(rel="shortcut icon", href="img/favicon.jpg")
    title The Website of ADB

  body(onunload="")
    .theater
      .playbill-partition
        .playbill-container
          .playbill
            img.mugshot(src="img/Chimney_mugshot.jpg", alt="Mugshot of Andrew Booth", onclick="increment_mug()")
            a.clickable(href="#Home")
              h1.nameplate Andrew Booth

            ul.menu
              li
                a.clickable(href="#Home")
                  .menu-item
                    h3.menu-text(name="Home") Home
              li
                a.clickable(href="#About")
                  .menu-item
                    h3.menu-text(name="About") About
              li
                a.clickable(href="#Resume")
                  .menu-item
                    h3.menu-text(name="Resume") Résumé

      .stage-partition
        .stage
          section#Home
            .scene-container
              .scene
                table.table-flush
                  tbody
                    each project, counter in content.projects
                      if counter % 3 == 0
                        if counter != 0
                          </tr>
                        if counter != content.projects.length-1
                          <tr>
                      td.project-cell
                        a(href=project.link)
                          img.project-img(src=project.thumb, alt=project.name)
                        
          section#About
            .scene-container
              .scene
                .about!= content.about.markup
                                
          section#Resume
            .scene-container
              .scene
                a(href="/assets/resume.pdf")
                  img.resume(src="img/resume.png", alt="Current resume")
