html, body {
    background-color: black;
    font-family: "SourceCodePro", "Courier New", Courier, monospace;
}
.text {
  padding: 0 0 4px 2px;
  margin: 0;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
  font-style: italic;
}

canvas {
  z-index: -1;
  border-radius: 10px;
  margin: auto;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
