/* css/fonts.css
*/

/* Font face */
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: bold;
  src: url("../fonts/SourceCodePro-Bold.otf") format("opentype");
}
@font-face {
  font-family: "SourceCodePro";
  font-style: italic;
  src: url("../fonts/SourceCodePro-It.otf") format("opentype");
}
@font-face {
  font-family: "SourceCodePro";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/SourceCodePro-BoldIt.otf") format("opentype");
}
