/* index.css
*/

/* General */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: "SourceCodePro", "Courier New", Courier, monospace;
  color: #33333d;
}

.theater {
  margin: auto;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

/* Link formatting */
a {
  color: #33333d;
}
a:hover {
  font-style: italic;
}
a:active {
  font-style: italic;
  font-weight: bold;
}
.clickable {
  color: #33333d;
}
.clickable:link {
  text-decoration: none;
}

li {
  list-style: square;
}
