/* index.css
*/

/* General */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: "SourceCodePro", "Courier New", Courier, monospace;
  color: #33333d;
  background-color: #fcfcfc;
}


/* Link formatting */
a {
  color: #33333d;
  cursor: pointer;
}
a:hover {
  font-weight: bold;
}
.clickable {
  color: #33333d;
}
.clickable:link {
  text-decoration: none;
}

li {
  list-style: square;
}


/* Nav stuff */
/* Based on:
http://stackoverflow.com/questions/59309/how-to-vertically-center-content-with-variable-height-within-a-div
*/
.nav {
  height: 30%;
  text-align: center;
}

.nav:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.nav-content {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  text-align: left;
  padding-left: 6%;
}

.logo {
  width: 120px;
  height: 120px;
  vertical-align: middle;
  margin-right: 15px;
}

.nav-item {
  vertical-align: middle;
  margin-left: 10px;
}


/* Main stuff */
.theater {
  width: 85%;
  margin: auto;
}

.project-table {
  width: 100%;
}
.project-table td {
  width: 33.33%;
  position: relative;
}

.project-cell {
  padding: 0 10%;
  text-align: center;
}
.project-img {
  height: 100%;
  width: 100%;
}
.project-img:hover {
  filter: saturate(95%);
  box-shadow: 0px 2px 10px 0px gray;
  transform: scale(1.015);
  transition: all .09s;
}

#about {
  display: none;
}
.about-content {
  margin: auto;
  padding-left: 3.5%;
}
.about-img-container {
  width: 30%;
  float: left;
  margin-right: 5%;
}
.about-img {
  width: 100%;
  height: 100%;
}
.about-text-container {
  width: 65%;
  overflow: hidden;
}

#resume {
  display: none;
}
.resume-img {
  width: 100%;
  height: 100%;
}


/* Footer stuff */
.footer {
  margin-top: 50px;
  height: 15%;
  text-align: center;
}

.footer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.footer-content {
  padding-left: 6%;
  display: inline-block;
  vertical-align: middle;
  width: 85%;
  text-align: left;
}
