/* playbill.css
*/

/* Playbill formatting */
.playbill-partition {
  float: left;
  width: 40%;
  height: 100%;
}
.playbill-container {
  float: right;
  width: 50%;
  min-width: 320px;
  height: 100%;
}
.playbill {
  width: 94%;
  height: 100%;
  padding: 4em 3% 0 3%;
}

/* Masthead */
.mugshot {
  width: 100%;
  cursor: pointer;
}
.nameplate {
  text-align: center;
  cursor: pointer;
}

/* Menu */
.menu li {
  list-style: none;
}
.menu-item {
  padding: 3% 0 3% 2%;
}
.menu-item:hover {
  font-style: italic;
}
.menu-text {
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}
.menu-text-selected {
  font-weight: bold;
  font-style: italic;
}
